[v-cloak] {
  display: none;
}

.min-width-250px {
  min-width: 250px;
}

a.outline-none {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.white-space-pre {
  white-space: pre;
}
